<!doctype html>
<html>
    <head>
        <title>Recipe Recommender</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h4>Enter a user_id to get recommendations (Between 1 and 100):</h4>

        {% from "_formhelpers.html" import render_field %}

        <form method=post action="/results">
            <dl>
            {{ render_field(form.recommendForUserWithID, cols='30', rows='10') }}
            </dl>
            <div>
                <input type=submit value='Submit user id' name='submit_btn'>
            </div>
        </form>
    </body>
</html>