{% extends "layout.html" %}
{% block content %}

    <div class="main_paige">
        <h4>Enter a user_id to get recommendations (Between 1 and 100):</h4>

        {% from "_formhelpers.html" import render_field %}

        <form method=post action="{{ url_for('recommender_mod.results') }}">
            <dl>
            {{ render_field(form.recommendForUserWithID, cols='30', rows='10') }}
            </dl>
            <div>
                <input type=submit value='Submit user id' name='submit_btn'>
            </div>
        </form>
    </div>


{% endblock %}