.content {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #3C3530;
    z-index: -10;
}
.main_paige{
    background-color: white;
    margin: 20px 30px;
}
.register_btn{

}
.submit_btn{
    background-color: #F16B6F;
    font-weight: 700;
    color: white;
}
.submit_btn:hover{
    color:#ffffff;
    background-color: #3C3530;
}
.page-heading {
    text-align: center;
    justify-content: center;
}
.user-registration {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #AACD6E;
    border-radius: 25px;
    max-width: 500px;
    padding: 20px;
    color: #ffffff;
}
.form-control{
    margin: 5px;
}
.recipe_item{
    margin: 10px;
    height: 200px;
    width: 200px;
}
